StampaCodiciFiscali/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
StampaCodiciFiscali/obj/Debug/StampaCodiciFiscali.csprojAssemblyReference.cache
StampaCodiciFiscali/obj/Debug/StampaCodiciFiscali.csproj.CoreCompileInputs.cache
.vs/StampaCodiciFiscali/v15/Server/sqlite3/storage.ide-wal
.vs/StampaCodiciFiscali/v15/Server/sqlite3/storage.ide-shm
.vs/StampaCodiciFiscali/v15/Server/sqlite3/db.lock
StampaCodiciFiscali/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
StampaCodiciFiscali/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
.vs/StampaCodiciFiscali/v15/Server/sqlite3/storage.ide
StampaCodiciFiscali/obj/Debug/StampaCodiciFiscali.Properties.Resources.resources
